@font-face{
	font-family: bebas;
	src: url(../fonts/BebasNeue.otf);
}
@font-face{
	font-family: bird;
	src: url(../fonts/QuinchoScript_PersonalUse.ttf);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cont1{
	width: 100%;
	padding: 10px;
	height: 500px;
	background: #ffbfb3;
	position: relative;
}
.cont1 a{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
	color: #000;
	font-family: bird;
	font-size: 60px;
	font-style: normal;
	z-index: 4;
}
.cont1 h3{
	font-size: 40px;
	font-family: bebas;
	color: #fff;
	top: 40px;
	display: block;
	text-align: center;
	margin-top: 130px;
	position: relative;
	z-index: 2;
	letter-spacing: 2px;
}
.cont1 h1{
	font-size: 150px;
	font-family: bebas;
	color: #fff;
	top: 40px;
	display: block;
	text-align: center;
	margin-top: 10px;
	position: relative;
	z-index: 2;
	letter-spacing: 20px;
}

.cont2, .cont3{
	display: flex;
	height: 500px;
	overflow: hidden;
	width: 100%;
}
.cont2 .contINFO, .cont3 .contINFO{
	width: 50%;
	height: 100%;
	position: relative;
	padding: 10px;
}
.cont2 .contINFO2{
	width: 550px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.cont3 .contINFO2{
	width: 550px;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(50%);
}
.cont2 .contINFO2 h1, .cont3 .contINFO2 h1{
	text-align: center;
	font-family: bebas;
	letter-spacing: 10px;
	display: block;
	margin-bottom: 20px;
	font-size: 40px;
}
.cont2 .contINFO2 h3, .cont3 .contINFO2 h3{
	text-align: center;
	font-family: bird;
	display: block;
	margin-bottom: 20px;
	font-size: 30px;
}
.cont2 .contINFO2 p, .cont3 .contINFO2 p{
	text-align: justify;
	font-family: bebas;
	display: block;
	margin-bottom: 20px;
	font-size: 18px;
	color: #444;
}
#contIMG1{
	background: url(../img/lic_mision.jpg);
	background-position: center;
	background-size: cover;
	width: 50%;
	height: 100%;
}
#contIMG2{
	background: url(../img/lic_vision.jpg);
	background-position: center;
	background-size: cover;
	width: 50%;
	height: 100%;
}