/*CONTENIDO*/

.cntPpal{
	position: relative;
	z-index: 1;
	width: 100%;
	font-family: Opensans;
	min-height: 100vh;
}
.cntBtnSl1, .cntBtnSl2{
	height: 100%;	
	position: absolute;
	width: 222px;
}
.cntBtnSl1 img, .cntBtnSl2 img{
	height: 100%;
	width: 100%;
	position: absolute;
	height: 435px;
}
.cntBtnSl1 img{
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: 1;
}
.cntBtnSl2 img{
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: 1;
}
.cntBtnSl1{
	left: 0;
	top: 0;
}
.cntBtnSl2{
	right: 0;
	top: 0;
}
.barraLeft{
	position: absolute;
	width: 10px;
	height: 215px;
	background: #581504;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
.barraRight{
	position: absolute;
	width: 10px;
	height: 215px;
	background: #581504;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

/*FORMULARIO*/

.form{
	width: 100%;
	max-width: 700px;
	margin: auto;
	overflow: hidden;
}
.cntFrm1{
	display: flex;
	width: 100%;
	border: 1px solid #ccc;
}
.cnFr1{
	width: 40%;
	height: 391px;
	display: block;
}
.imgFrm{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.cnFr2{
	display: block;
	width: 60%;
	padding: 10px;
}
.cnFr2 h4{
	text-align: center;
	font-size: 20px;
	color: #a48c6a;
	font-weight: bold;
	display: block;
	margin: 10px auto;
	margin-bottom: 20px;
	letter-spacing: 5px;
}
.formu1{
	display: flex;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
}
.formuu{
	display: block;
	width: 50%;
	padding: 5px;
}
.formuu label{
	font-size: 13px;
	font-weight: bold;
	color: #a48c6a;
	display: block;
}
.formuu input{
	font-size: 14px;
	font-family: Opensans;
	color: #000;
	padding: 5px 5px;
	border: none;
	outline: none;
	background: #eee;
	display: block;
}
.formu2{
	display: block;
	width: 90%;
	margin: auto;
	padding: 5px;
}
.formu2 label{
	font-size: 13px;
	font-weight: bold;
	color: #a48c6a;
	display: block;
}
.formu2 textarea{
	font-size: 14px;
	font-family: Opensans;
	color: #000;
	padding: 5px 5px;
	border: none;
	outline: none;
	background: #eee;
	width: 100%;
	height: 100px;
	resize: none;
	display: block;
}

.cntFrm2{
	width: 100%;
	clear: both;
	padding: 10px;
}
.frmDir{
	float: left;
	display: block;
	padding: 20px 0px;
}
.frmDir span{
	color: #a48c6a;
	font-weight: bold;
	font-size: 12px;
	display: block;
}
.frmDir p{
	color: #000;
	font-size: 12px;
	margin-bottom: 10px;
}
.btnSubmit{
	float: right;
	margin-top: 20px;
	font-size: 15px;
	padding: 5px 10px;
	text-align: center;
	font-weight: bold;
	background: #a48c6a;
	color: #fff;
	border: none;
	transition: .6s all;
	cursor: pointer;
}
.btnSubmit:hover{
	transform: scale(1.1);
}

/*RESPONSIVE*/

@media only screen and (max-width: 1125px) {
    .cntBtnSl1{
    	display: none;
    }
    .cntBtnSl2{
    	display: none;
    }
}

@media only screen and (max-width: 960px) {
	.cntPpal{
		margin-top: 40px;
		position: relative;
		z-index: 4;
	}	
}

@media only screen and (max-width: 760px) {
	.cntFrm1{
		display: block;
	}
	.cnFr1{
		width: 100%;
		margin: auto;
		background: #efefee;
	}
	.cnFr1 img{
		width: 100%;
		max-width: 300px;
		margin: auto;
	}
	.cnFr2{
		width: 100%;
	}
	.formuu input{
		width: 100%;
	}
}

@media only screen and (max-width: 550px) {
	.formu1{
		width: 100%;
		display: block;
	}
	.formuu{
		display: block;
		width: 100%;
	}
	.formu2{
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.cntFrm2{
		display: block;
		width: 100%;
	}
	.btnSubmit{
		float: none;
		display: block;
		margin: auto;
	}
	.frmDir{
		display: block;
		width: 100%;
		float: none;
		text-align: center;
	}
}


