/*SLIDER*/

.sliderCnt{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 435px;
}
.cntBtnSl1, .cntBtnSl2{
	height: 100%;
	position: absolute;
}
.cntBtnSl1 img, .cntBtnSl2 img{
	height: 100%;
	width: 100%;
}
.cntBtnSl1{
	left: 0;
	top: 0;
}
.cntBtnSl2{
	right: 0;
	top: 0;
}
.barraLeft{
	position: absolute;
	width: 10px;
	height: 215px;
	background: #581504;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.barraRight{
	position: absolute;
	width: 10px;
	height: 215px;
	background: #581504;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}



.sliderContent{
	width: 100%;
	max-width: 700px;
	height: 500px;
	margin: auto;
	overflow: hidden;
}
.slider{
	overflow: hidden;
}
.slider_cont{
	float: left;
	height: 100%;
	position: relative;
}
.slider img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.seeCatSlide{
	position: absolute;
	width: 170px;
	height: 25px;
	z-index: 2;
	right: 164px;
	bottom: 73px;
	display: block;
	transition: .4s all;
	opacity: .2;
	background: transparent;
}
.seeCatSlide:hover{
	background: #000;
}
.cntBtnSlide{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 30px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	clear: both;
}
#btnNext{
	float: right;
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 15px;
	font-size: 25px;
	text-align: center;
	border: none;
	background: none;
	color: #581504;
	transition: .5s all;
	cursor: pointer;
	outline: none;
}
#btnPrev{
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	margin-left: 15px;
	font-size: 25px;
	text-align: center;
	border: none;
	background: none;
	color: #581504;
	transition: .5s all;
	cursor: pointer;
	outline: none;
}
#btnNext:hover, #btnPrev:hover{
	transform: scale(1.1);
}


/*Slider 2*/

.sliderContent2{
	width: 100%;
	max-width: 320px;
	height: 435px;
	margin: auto;
	overflow: hidden;
	z-index: 5;
	position: relative;
	display: none;
	margin-top: 40px;
}
.slider2{
	overflow: hidden;
	display: block;
	height: 100%;
}
.slider_cont2{
	float: left;
	height: 100%;
	position: relative;
}
.slider2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	display: block;
}
.cntBtnSlide2{
	display: none;
	padding-bottom: 30px;
	width: 100%;
	max-width: 320px;
	margin: auto;
}
.cntBtnSlide2 button{
	display: block;
	width: 50%;
	height: 50px;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	line-height: 50px;
	background: #000;
	color: #fff;
	cursor: pointer;
	border: none;
	outline: none;
}


/*RESPONSIVE*/

@media only screen and (max-width: 1125px) {
    .cntBtnSl1{
    	display: none;
    }
    .cntBtnSl2{
    	display: none;
    }
}

@media only screen and (max-width: 960px) {
	.sliderContent{
		height: 400px;
		margin-top: 40px;
	}	
}

@media only screen and (max-width: 850px) {
	.sliderCnt{
		display: none;
	}
	.sliderContent2{
		display: block;
	}
	.cntBtnSlide{
		display: none;
	}
	.cntBtnSlide2{
		display: flex;
	}
}






